.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: -0.2em;
}

.button-content {
  
    padding: 35px;
  margin-bottom: -25px;

}

.button-contentlink{

  color: #2f57e3;


}

form {
  margin: 2em 0;
}

button {
  
  width: 250px;
  background-color: #c9640e;
  transform:translate(0,20px);
  
}
/**
* Make the field a flex-container, reverse the order so label is on top.
*/
 

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  
  color: #909090;
  height: 65%;
  top: 1.75em;
  font-size: 1.1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;

}

  
  

input:focus {
  outline: 0;
  border-bottom: 1px solid #c9640e;
}

label {
  
  letter-spacing: 0.03em;
  font-size: 48%;
  color: #909090;
  font-weight: 100;     
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(1rem, 2.2rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
 transform: translate(5px, 20px) scale(1);
  cursor: text;
}
